details {
    margin: 1em 0;
    padding: 0.5em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

summary {
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

summary:hover {
    color: #007acc;
}

details[open] summary {
    color: #0056b3;
}


details p, details b, details i {
  margin: 0.5em 0;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}

